a{
   background-image: url("https://img.freepik.com/fotos-gratis/um-passaro-com-a-palavra-aguia-nas-asas_1340-33393.jpg?w=996&t=st=1699279278~exp=1699279878~hmac=139e399f667bcca38567f7189e1338d624fe351b035c876a44c0f2e5bf4460f3");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;

    font-size: 5em;
    padding-left: 100px;
}